/*div { border-style: dashed;
    border-width: 2px;
    border-color: black;
}
*/

html, body {
    height: 100%;
    background-color: white;
    padding:0;
	}
.col-sm-6{
    text-align: center;
    padding-top:10px;


}

#.col-sm-6 #trustees {

    padding-top: 100px;


}

.col-sm-3{
    text-align: center;
    padding-top:10px;


}

.jumbotron {

 background-color: white;
    padding: 0px;
}
.includedFooter {
    position:absolute;
    padding:10px;
    bottom:0;
    min-width:99%;
    height:120px;			/* Height of the footer */

}

.includedHeader {
        padding:10px;

}


.container {
    max-width: 920px;
    min-height:100%;
    position:relative;


}

#indexbody {
    padding-top:20px;
    padding-bottom: 120px; /* Height of the footer */
    text-align: center;
}
#body {
    padding-top:20px;
    padding-bottom: 120px; /* Height of the footer */

}

.title{
    text-align: center;

    padding-bottom: 15px;

}

.box{
    padding-bottom: 20px;
    padding-top: 10px;


}