/*div { border-style: dashed;
    border-width: 2px;
    border-color: black;
}
*/

html, body {
    height: 100%;
    background-color: white;
    padding:0px;
	}

.col-sm-6 {
    text-align:center;
    padding-top:10px;

}

hr {
padding: 0px;

}



.col-sm-6 #trustees {

    padding-top: 100px;


}

.col-sm-3{
    text-align: center;
    padding-top:10px;


}
.row
{

padding: 0px;
}
.jumbotron {

 background-color: white;
    padding: 0px;
}
.includedFooter {
    position:absolute;
    padding:0px;
    bottom:0;
    min-width:99%;
    height:120px;			/* Height of the footer */

}

.includedHeader {
        padding:10px;

}


.container {
    max-width: 920px;
    min-height:100%;
    position:relative;
    padding:0px;


}

#indexbody {
    padding-top:20px;
    padding-bottom: 120px; /* Height of the footer */
    text-align: center;
}
#body {
    padding-top:20px;
    padding-bottom: 120px; /* Height of the footer */

}

.title{
    text-align: center;

    padding-bottom: 15px;

}

.box{
    padding-bottom: 20px;
    padding-top: 10px;


    border-bottom: groove;


}

.projecttable {
    min-width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    margin: 20px;
    font-weight: bold;
}


.projecttable th {
    font-size: 15px;
    font-weight: normal;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
    padding: 8px;
}

.projecttable td {

    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
}
.projecttable td.cell1 {
    width:20%;

}
.projecttable td.cell2 {
    width:60%;

}
.projecttable td.cell3 {
    width:20%;

}

